.text-white {
  color: whitesmoke;
}

.text-bold {
  font-size: bold;
}

.text-cold-blue {
  color: rgb(94, 209, 255);
}

.tex-warm-red {
  color: rgb(139, 7, 7);
}

.App {
  background-color: #242424;
  width: 95vmin;
  max-width: 1140px;
  text-align: center;
  border-radius: 16px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.weather__hours {
  display: flex;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none; /*Ie and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
  cursor: grab;
  user-select: none;
  margin-bottom: 40px;
}

.weather__hours::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Opera */
}

.weather__hours::before {
  content: "";
  position: sticky;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  left: 0;
  top: 0;
  min-width: 20px;
  min-height: 100%;
  z-index: 2;
}

.weather__hours::after {
  content: "";
  position: sticky;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  right: 0;
  top: 0;
  min-width: 20px;
  min-height: 100%;
  z-index: 2;
}

@media (max-width: 480px) {
  .current-weather__title {
    font-size: 24px;
  }

  .location__form {
    display: flex;
    flex-direction: column;
  }

  .location__input::placeholder {
    text-align: center;
  }
  .location__button {
    position: static;
    margin-top: 16px;
    border-radius: 16px;
    width: 90%;
  }
}
