.App {
  background-color: rgba(23, 106, 201, 0.4);
  height: 500px;
  width: 1000px;
  text-align: center;
  max-width: 800px;
  border: 1px solid red;
  border-radius: 16px;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.5);
  margin-top: 16px;
}

.weather__hours {
  display: flex;
}
